FRONTEND_PORT=3000
BACKEND_PORT=8000
# For some god-forsaken reason, react won't let you access environment variables
# unless prefixed by `REACT_APP_`... -_- this is dumb
REACT_APP_FRONTEND_PORT=$FRONTEND_PORT
REACT_APP_BACKEND_PORT=$BACKEND_PORT
DATABASE_PASSWORD=password
DATABASE_NAME=db
JWT_SECRET=jwt_secret
JWT_EXPIRE_SEC=3600
HEALTHCHECK_RETRIES=999
